<h1>Welcome to Mehul's Home page3"</h1>
<ul>
    <li><%= @list.name %></li>
</ul>


<p><strong>Bookmarks</strong></p>
<%= link_to "Create a bookmark", new_list_bookmark_path(@list) %>
<ul>
  <% @list.bookmarks.each do |bookmark| %>
    <li><%= bookmark.movie.title %> - <%= bookmark.comment %>

    <%= link_to "Delete",
      bookmark_path(bookmark),
      data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}
    %>
  </li>

  <% end %>
</ul>
